<% 
	@upcoming_events = Event.upcoming
	@past_events_count = Event.past.count
	@coordinates = []
	markers = ''
	
	@upcoming_events.each do |event|
		next unless event.country 
		location = Geocoder.search("#{event.city}, #{event.country}")
		@coordinates << location.first.coordinates
	end

	@coordinates.each do |coordinate|
		markers << "&markers=size:small%7Ccolor:red%7C#{coordinate.join(',')}" 
	end
%>

<div class="Vlt-center">
	<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=1&size=600x300#{markers}&key=#{ENV['google_maps_api_key']}" %>
</div>

<div class="Vlt-col Vlt-col--1of3 Vlt-col--left">
    <p>
      <%= link_to 'Subscribe to feed', feeds_events_url(protocol: :webcal, format: :ics), class: 'Vlt-btn Vlt-btn--secondary Vlt-btn--app' %>
      <% if @past_events_count > 0 %>
        <%= link_to "View #{pluralize @past_events_count, 'past event'}", community_past_events_path, class: 'Vlt-btn Vlt-btn--tertiary Vlt-btn--app' %>
      <% end %>
    </p>
</div>

<div id="community-events" class="Vlt-grid">
<% @upcoming_events.each do |event| %>
	<div class="Vlt-col Vlt-col--1of3">
		<div class="Vlt-card">
			<h3><%= link_to event.title, event.url, target: '_blank' %></h3>
			<p class="community-event__date Vlt-grey-darker"><svg class="Vlt-icon Vlt-icon--small Vlt-icon--text-bottom Vlt-grey-dark" aria-hidden="true"><use xlink:href="/symbol/volta-icons.svg#Vlt-icon-calendar"/></svg><%= date_range event.starts_at, event.ends_at %></p>
			<p><%= event.description %></p>
		</div>
	</div>
<% end %>
</div>